@import "variables";

/*************************************************************
*
* Global Styles
*
**************************************************************/


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.clearfix{ clear: both }

/*input placeholder color*/
::-webkit-input-placeholder{ color: $primary-color }
::-moz-input-placeholder{ color: $primary-color }
::-ms-input-placeholder{ color: $primary-color }


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/*container of the page*/
.container {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/*************************************************************
*
* Start main Styles
*
**************************************************************/
body {
    width: 100%;
    height: auto;
    font-family: $font-name;
    font-size: $font-size;
    background: $white-color;
    color: $white-color;
    line-height: 1.6;
    direction: rtl;
    box-sizing: border-box;
}

/*Start Header*/
.header {
    width: 100%;
    height: 300px;
    background: $primary-color;
    text-align: center;
    color: $white-color;
}

.header__title {
    width: 90%;
    font-size: $font-size * 3.6;
    margin: auto;
    padding-top: 70px;

}

.header__paragraph {
    width: 80%;
    font-size: $font-size * 1.8;
    margin: auto;
    padding-top: 20px;
}

/*****************************
*
* Start Advertising style
*
******************************/
.adv-header {
    width: 100%;
    height: 150px;
    /*background: $primary-color;*/
    margin: 20px auto;
    overflow: hidden;
}

.info--adv {
    width: 20%;
    height: 400px;
    /*background: $primary-color;*/
    overflow: hidden;
}

.adsbygoogle {
    display: block;
    width: 100%;
    height: 100%;
}


/*****************************
*
* Start info style
*
******************************/
.info {
    float: right;
    padding: 70px 0;
    margin: 20px 0; 
}

.info__title {
    font-size: $font-size + 8;
    text-align: center;
    color: $primary-color;
    padding: 10px 0 30px 0;
}



.info--student {
    width: 55%;
    height: auto;
    margin: 20px 10px;
}


.form {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.form__label {
    display:none;
    color: $primary-color;
    font-size: $font-size + 4;
}

.form--num {
    width: 80%;
    font-size: $font-size + 4;
    color: $primary-color;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    @include border-radius(24px);
    outline: none;
    cursor: pointer;
    &:focus { border: 2px solid $primary-color }
}


.form__submit {
    display: block;
    width: 50%;
    padding: 5px;
    margin: 10px auto;
    border: 2px solid $primary-color;
    @include border-radius(40px);
    background: $primary-color;
    color: $white-color;
    font-size: $font-size + 6;
    font-weight: bold;
    font-family: $font-name;
    cursor: pointer;
    outline: none;
    &:hover,&:focus {
        background: #770e12;
    }
}


@import "finish";


@import "convert";
/*****************************
*
* Start Footer style
*
******************************/
.footer {
    width: 100%;
    height: 50px;
    padding: 30px 0;
    text-align: center;
    background: $primary-color;
}

/*************************************************************
*
* Start media quiery Styles
*
**************************************************************/

/*Mobiels*/
@media  screen and (max-width: 530px) {
    .container { width: 100% }
    .header{ height: 250px }
    .header__title { 
        width: 100%;
        font-size: 22px;
        padding-top: 30px;
    } 
    .header__paragraph { 
        width: 100%;
        font-size: 18px;
   }
    .info--student { width: 100% }
    .info__title { font-size: 18px }
    .info--adv:nth-child(2) { display: none }
    .info--adv:nth-child(4) { width: 100% }

    .form__label { display: inline-block }
    
}

/*tablets and laptops*/
@media  screen and (min-width: 530px) and (max-width: 1200px) {
        .header__title { font-size: 30px} 
        .header__paragraph { font-size: 20px; }
        .info__title{ font-size: 20px; }
}